 @import "bootstrap-sprockets";
 @import "bootstrap";
 // Nice use of @import and the boostrap gem for styling
// One thing to address: When the window is sized all the way in, the nav inverts
// but also covers some of the main
 .book {
   height: 350px;
   width: 250px;
   margin-bottom: 20px;
 }
 .book-show{
   height: 475px;
   width: 325px;
 }
.navbar{
  position:fixed;
  top: 0;
  width: 100%;
  background-color: #81c9d9;
}

.review{
  margin-top: 80px;
}
button{
  margin-bottom: 50px;
}
.reviewdiv{
    margin-bottom: 50px;
}
body {
  height: 100%;
}
